{{>layouts/header}}
{{#member}}
    <form class="container" action="/members/update" method="post">
        <input name="id" type="hidden" value="{{id}}">
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="text" class="form-control" name="email" value="{{member.email}}">
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <textarea class="form-control" rows="3" name="password">{{member.password}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/members/{{member.id}}">Back</a>
    </form>
{{/member}}
{{>layouts/footer}}